################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SerilogTemplate/bin
/.vs/SerilogTemplate
/SerilogTemplate/obj
/SerilogTemplate/Properties
/SerilogTemplate/Logs
/SerilogTemplate/SerilogTemplate.csproj.user
